* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
   background: radial-gradient(circle at top, #1e3a8a, #020617);

}

.app {
     background: #111827;

    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 18px;
    padding: 30px;
    border: 1px solid #aaf0ec;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.app h1 {
    font-size: 25px;
    color: #e5e7eb;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}


.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 600;
}

.btn {
    background: #1f2937;
    color: #e5e7eb;
    font-weight: 500;
    width: 100%;
    border: 2px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.25s ease;

}

.btn:hover:not([disabled]) {
    background: #374151;
    color: white;
    transition: all 0.3s;
    transform: scale(1.02);
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: linear-gradient(135deg, #a855f7, #ec4899);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
   border-radius: 12px;
    cursor: pointer;
    display: none;
    box-shadow: 0 10px 30px rgba(168,85,247,0.4);

}

.correct {
    background: #22c55e;
    color: #022c22;
}

.incorrect {
    background: #ef4444;
    color: #fff;
}